.body {
    background-color: rgb(255, 249, 243);
    color: rgb(25, 10, 10)
}

.body__header {
    text-align: center;
    border: 3px inset black;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 6px;
}

.fieldset {
    margin: 20px;
    border-radius: 6px;
    background-color: aliceblue;
}

.fieldset__legend {
    border: 3px inset black;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    background-color: aliceblue;
    color: black
}

.js-fieldset__button {
    border: 2px solid black;
    background-color: rgb(255, 249, 243);
    border-radius: 6px;
}

.js-fieldset__button:hover {
    cursor: pointer;
    background-color: rgb(243, 224, 224);
}

.js-fieldset__button:active {
    cursor: pointer;
    background-color: rgb(240, 197, 197);
}

.fieldset__button {
    border: 2px solid black;
    background-color: rgb(255, 249, 243);
    border-radius: 6px;
}

.fieldset__button:hover {
    cursor: pointer;
    background-color: rgb(243, 224, 224);
}

.fieldset__button:active {
    cursor: pointer;
    background-color: rgb(240, 197, 197);
}

.fieldset__list {
    list-style: none;
}

.footer {
    text-align: center;
    font-size: small;
    font-style: italic;
}
